.main-foot
  background-image: linear-gradient(to top, #18344f 0, #132434 100%)

#totop
  font-size: 14px
  color: rgba(#fff, .4)
  display: inline-block
  line-height: 1
  position: relative
  margin-top: 10px
  &:before
    content: ''
    position: absolute
    width: 20px
    height: 20px
    background-image: url('../img/icons/slide-arrow-white.svg')
    +bg-cover
    transform: rotate(90deg)
    top: -20px
    left: calc(50% - 10px)
  &:hover
    color: rgba(#fff, .7)