.s-first
  padding-bottom: 60px
  .contacts-block
    border: none
    padding-left: 0
    padding-bottom: 100px
    &:after
      display: none
  .con-item
    &-title
      color: rgba(#fff, .53)

.first-content
  border: 2px solid $accent-darkyellow
  position: relative
  &:after
    content: ''
    position: absolute
    width: 22px
    height: 82px
    background-image: url('../img/icons/decor-leave-1.jpg')
    +bg-cover
    left: -13px
    top: 172px

.s-first.s-first-services
  position: relative
  padding-bottom: 275px
  .breadcrumbs
    padding-bottom: 50px
  .page-title
    width: 50%
    margin-bottom: 0
    line-height: 1.2
    span
      font-size: 34px
      color: #fff
      background: transparent
      -webkit-background-clip: unset
      -webkit-text-fill-color: #fff
  .first-content
    padding-bottom: 330px

.first-img
  position: absolute
  right: 140px
  bottom: -40px