@import vars


/*==========  Desktop First  ==========*/

@media (max-width: 1800px)
  .service-item.individual
    right: 0

  .service-item.entity
    left: 0



@media (max-width: 1700px)


  .about-content
    padding-left: 600px
    padding-right: 150px

  .about-img
    left: -150px
    top: -10px

  .intro-slide
    padding-left: 50px

  #intro-nums
    left: 85px

  .main-mnu
    li
      margin-right: 30px

@media (max-width: 1500px)

  .about-desc
    font-size: 16px

  .large-container
    .small-container
      padding: 0

  #intro-nums
    left: 70px

  .main-mnu
    a
      font-size: 16px

  .top-phones
    a
      font-size: 20px

  .top-line
    padding: 30px 0

@media (max-width: 1400px)

  .about-content
    padding-left: 550px

  .service-item
    width: 1200px
    margin-left: auto
    margin-right: auto
    &-num
      height: 400px
    &-square
      width: 350px
      height: 500px

  .service-item.individual
    h2
      padding-right: 30px
    .service-item-img
      width: 650px
      left: -150px
    .service-item-square
      bottom: 175px

  .service-item.entity
    h2
      padding-left: 30px
    .service-item-img
      width: 650px
      right: -200px


  .intro-slider
    &:before
      top: 100px

  #intro-nums
    top: 40px

  .intro-slide
    padding-top: 100px
    padding-bottom: 50px
    h1
      font-size: 60px
    &-desc
      font-size: 20px
    &-content
      height: 350px

  .btn
    font-size: 16px
    padding: 20px 25px

  .intro-square
    width: 560px
    height: 200px
    right: 130px


  .intro-img
    width: 900px
    bottom: 0

  .main-mnu
    a
      font-size: 14px

  .top-phones
    a
      font-size: 18px

@media (max-width: 1300px)

  .about-img
    left: -250px

  .about-content
    padding-left: 450px

  .service-item
    width: 1000px
    &-num
      display: none
    h2
      font-size: 32px
    &-square
      width: 300px
      height: 400px

  .service-item.individual
    margin-bottom: 150px
    .service-item-content
      padding-left: 550px
    .service-item-img
      width: 500px
      left: calc(0px - (50vw - 508px))
    .service-item-square
      left: 150px

  .service-item.entity
    .service-item-content
      padding-left: 80px
    .service-item-img
      width: 500px
      right: calc(0px - (50vw - 508px))
    .service-item-square
      bottom: 100px
      right: 150px

  .main-mnu
    display: none

  .hamburger
    display: block


// ≥1200px
+media-breakpoint-down(lg)

  .about-img
    display: none

  .about-content
    padding-left: 50px

  .s-services
    padding-bottom: 60px

  .service-item
    width: 960px

  .service-item.individual
    .service-item-img
      left: calc(0px - (50vw - 488px))
    .service-item-square
      left: 205px

  .service-item.entity
    .service-item-img
      right: calc(0px - (50vw - 488px))
    .service-item-content
      padding-left: 40px

  .chars-block
    max-width: 900px
    left: calc(50% - 450px)
    width: auto
    top: -175px

  .char-item
    padding: 0 20px
    &-desc
      font-size: 16px

  .s-services
    padding-top: 340px

  .intro-square
    width: 460px
    height: 165px
    right: 90px
    bottom: 170px

  .intro-slider
    .owl-nav
      bottom: 85px
      right: 100px

  .intro-img
    width: 600px

  .intro-slide
    h1
      font-size: 40px
    &-content
      height: 250px

  .s-intro
    padding-bottom: 90px

// ≥992px
+media-breakpoint-down(md)

  .section-title
    font-size: 32px

  .s-services
    padding-top: 70px

  .grey-line
    display: none

  .service-item
    width: 100%
    &-img
      display: none
    &-square
      display: none
    &-desc
      width: 50%
    &-mobimg
      width: calc(50% - 30px)
      height: auto
      display: block
    &-content
      display: flex
      justify-content: space-between
      align-items: flex-start
      font-size: 16px
      li
        margin-bottom: 5px
      ul
        margin-bottom: 30px


  .service-item.individual
    margin-bottom: 70px
    .service-item-content
      padding: 40px 20px

  .service-item.entity
    .service-item-content
      padding: 40px 20px

  .chars-block
    position: relative
    left: 0
    top: 0
    width: 100%
    margin-bottom: 50px

  .intro-slide
    h1
      font-size: 32px
    &-desc
      font-size: 18px

  .intro-img
    width: 500px

// ≥768px
+media-breakpoint-down(sm)

  .about-content
    padding-left: 30px

  .intro-img
    display: none

  .intro-slider
    .owl-nav
      position: relative
      bottom: 60px
      left: 50px
      right: 0

  .intro-slide
    padding-bottom: 100px
    &-content
      width: 80%
      height: 200px

  .intro-square
    right: 50px
    bottom: 140px

// ≥480px
+media-breakpoint-down(xs)

  .section-title
    font-size: 24px

  .about-content
    padding-right: 30px

  .chars-block
    flex-direction: column

  .char-item
    width: 100%
    margin-bottom: 40px
    &:last-child
      margin-bottom: 0
    .svg
      height: 70px
      margin-bottom: 10px

  .service-item
    h2
      font-size: 24px
      text-align: center!important
      padding: 0!important
      margin-bottom: 15px
      line-height: 1.2
    &-content
      flex-direction: column
      padding-top: 20px!important
      padding-bottom: 20px!important
    &-mobimg
      width: 100%
      margin-bottom: 30px
    &-desc
      width: 100%
    .btn-wrap
      text-align: center

  .service-item.entity
    .service-item-content
      flex-direction: column-reverse


  #intro-nums
    font-size: 14px

  #intro-current
    font-size: 16px

  .s-intro
    padding-bottom: 40px
    &:before
      background-size: auto 80px
      background-position: left bottom 20px

  #intro-nums
    left: 40px
    top: 20px

  .intro-slider
    &:before
      top: 45px
    .owl-nav
      left: 20px
      bottom: 40px
      width: 70px

  .intro-slide
    padding-right: 30px
    padding-top: 65px
    padding-left: 25px
    padding-bottom: 70px
    &-content
      width: 100%
    &-desc
      font-size: 16px
    h1
      font-size: 28px

  .btn
    font-size: 14px
    padding: 16px 22px

  .intro-square
    display: none

  .mm-menu_theme-dark .mm-listview a:not(.mm-btn_next)
    font-size: 16px


  .logo
    max-width: 80px

  .top-line
    padding: 15px 0

  .soc-item
    .svg
      width: 24px

  .top-phones
    padding-left: 30px
    &:before
      width: 20px
      height: 20px
      top: calc(50% - 10px)
    a
      font-size: 16px
      margin-bottom: 5px

@media (max-width: 390px)

  .s-about
    background-position: left 130% top

  .about-content
    padding-left: 15px
    padding-right: 15px
    font-size: 14px

  .about-link
    font-size: 16px
    &:after
      width: 16px
      height: 16px
      right: -24px
      top: calc(50% - 8px)

  .service-item
    h2
      font-size: 20px

  .intro-slide
    h1
      font-size: 24px
    &-desc
      line-height: 1.2

  .top-line
    flex-wrap: wrap

  .logo
    max-width: 100px

  .top-phones
    order: 4
    margin-left: auto
    margin-right: auto
    margin-top: 15px
    padding: 0 30px 0 60px
    &:before
      left: 30px

  .hamburger
    top: 2px

  .soc-item
    margin-right: 20px
    margin-left: auto


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
